@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

:root {
    /* ## Colors */
    /* ### Primary */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* ### Neutral */
    --Dark-gray: hsl(0, 0%, 59%);
}

h1,
.stat h2 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 18px;
    font-weight: 700;
}

body {
    background: url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg);
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-repeat: no-repeat;
    background-color: var(--Dark-cyan,darkcyan);
}

main {
    position: relative;
    display: grid;
    place-items: center;
    height: 100vh;
}

main section {
    position: relative;
    z-index: 50;
    text-align: center;
    margin: 10px;
    max-width: 350px;
    background-color: white;
    box-shadow: 0 15px 100px 0 hsla(229, 23%, 23%, 0.4);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

main section .pic img:first-child {
    min-width: 320px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

main section .pic img:last-child {
    position: absolute;
    top: 33%;
    left: 50%;
    border: 5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -33%);
    -webkit-transform: translate(-50%, -33%);
    -moz-transform: translate(-50%, -33%);
    -ms-transform: translate(-50%, -33%);
    -o-transform: translate(-50%, -33%);
}

main section .text {
    margin-top: 60px;
}

main section .text .city {
    padding: 5px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

main section .text .stats {
    position: relative;
    margin-top: 20px;
    padding: 23px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .text .stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.25;
    background-color: var(--Dark-gray);
}

main section .text .stats .stat {
    font-size: 0.67rem;
    letter-spacing: 1px;
    width: calc(30%);
}
